# Ignore local remote connection script
connect_remote.sh
*.egg-info*
*.vscode*
*__pycache__*
workspace*
.venv
.DS_Store
jobs/*
*ignore_me*
*.pth
#wandb*
data/*
experiments/*
visualizations/*
results/*
docker/*
experiments_runai/
eval/work_dirs/
eval_data/*
work_dirs/*
.idea/*
data_scannet/*
eval_data/
experiments/
viz_depth/
*.pth
outputs/*
exports/
